<% if resource.errors.any? %>
  <ul>
    <% resource.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= puts resource.errors.full_messages %>
